#ignore packages installed by composer
/vendor/
#ignore core wordpress files installed by composer
/web/wp/
#ignore Everything in wp-content (plugins,themes,etc.) installed by composer
# /web/wp-content/*
/web/wp-content/themes/*
!/web/wp-content/themes/README.md
!/web/wp-content/plugins/index.php
/web/wp-content/plugins/*
!/web/wp-content/plugins/index.php
!/web/wp-content/plugins/README.md
/web/wp-content/languages/*
!/web/wp-content/languages/index.php
!/web/wp-content/languages/README.md
/web/wp-content/mu-plugins/*
!/web/wp-content/mu-plugins/index.php
!/web/wp-content/mu-plugins/README.md
/web/wp-content/uploads/*
!/web/wp-content/uploads/index.php
/web/wp-content/upgrade/*
!/web/wp-content/upgrade/index.php

#Ignore mac stuff
*.DS_Store

# Ignore .env files as they are personal
/*.env
!example.lando.env

# Ignore custom NPM package dir.
/npm-packages

# Ignore sql files
*.sql
*.sql.gz

# Sage
web/wp-content/cache
