#ignore packages installed by composer
/vendor/
#ignore core wordpress files installed by composer
/web/wp/
#ignore Everything in wp-content (plugins,themes,etc.) installed by composer
# /web/wp-content/*
/web/wp-content/themes/*
!/web/wp-content/themes/README.md
!/web/wp-content/plugins/index.php
/web/wp-content/plugins/*
!/web/wp-content/plugins/index.php
!/web/wp-content/plugins/README.md
/web/wp-content/languages/*
!/web/wp-content/languages/index.php
!/web/wp-content/languages/README.md
/web/wp-content/mu-plugins/*
!/web/wp-content/mu-plugins/index.php
!/web/wp-content/mu-plugins/README.md
/web/wp-content/uploads/*
!/web/wp-content/uploads/index.php
/web/wp-content/upgrade/*
!/web/wp-content/upgrade/index.php

# gravity forms
!/web/wp-content/plugins/gravity-forms-add-menu-link
!/web/wp-content/plugins/gravityforms
!/web/wp-content/plugins/elementor-pro
!/web/wp-content/plugins/advanced-custom-fields-pro
!/web/wp-content/plugins/gravityformsauthorizenet
!/web/wp-content/plugins/gravityformssurvey
!/web/wp-content/plugins/colbyTicket.php

# Jet Elements
!/web/wp-content/plugins/jet-tabs
!/web/wp-content/plugins/jet-elements
!/web/wp-content/plugins/jet-menu
!/web/wp-content/plugins/jet-tricks
!/web/wp-content/plugins/jet-blocks
!/web/wp-content/plugins/jet-popup
!/web/wp-content/plugins/jet-blog
!/web/wp-content/plugins/jet-search
!/web/wp-content/plugins/jet-style-manager
!/web/wp-content/plugins/jet-theme-core

# baseinstall
!/web/wp-content/themes/baseinstall

# Ignore files generated by PhpStorm
/.idea/
#ignore files from
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

#Ignore mac stuff
 *.DS_Store

# Ignore .env files as they are personal
/*.env
!example.lando.env

# Ignore custom NPM package dir.
/npm-packages

# Ignore sql files
*.sql
*.sql.gz

# Ignore simplesaml dir locally
/simplesaml

	KuwdWutOlbJpW4@I6bg(6GW2