.elementor-4604 .elementor-element.elementor-element-70fc5777 .elementor-repeater-item-f26bc72.jet-parallax-section__layout .jet-parallax-section__image{background-size:auto;}.elementor-4604 .elementor-element.elementor-element-572c05c8{text-align:left;}.elementor-4604 .elementor-element.elementor-element-572c05c8 img{width:95px;}.elementor-4604 .elementor-element.elementor-element-572c05c8 > .elementor-widget-container{padding:10px 0px 10px 30px;}.elementor-bc-flex-widget .elementor-4604 .elementor-element.elementor-element-35ab7def.elementor-column .elementor-column-wrap{align-items:center;}.elementor-4604 .elementor-element.elementor-element-35ab7def.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-4604 .elementor-element.elementor-element-35ab7def > .elementor-element-populated{margin:10px 20px 0px 0px;--e-column-margin-right:20px;--e-column-margin-left:0px;}.elementor-4604 .elementor-element.elementor-element-7a12354d .jet-nav--horizontal{justify-content:flex-end;text-align:right;}.elementor-4604 .elementor-element.elementor-element-7a12354d .jet-nav--vertical .menu-item-link-top{justify-content:flex-end;text-align:right;}.elementor-4604 .elementor-element.elementor-element-7a12354d .jet-nav--vertical-sub-bottom .menu-item-link-sub{justify-content:flex-end;text-align:right;}body:not(.rtl) .elementor-4604 .elementor-element.elementor-element-7a12354d .jet-nav--horizontal .jet-nav__sub{text-align:left;}body.rtl .elementor-4604 .elementor-element.elementor-element-7a12354d .jet-nav--horizontal .jet-nav__sub{text-align:right;}.elementor-4604 .elementor-element.elementor-element-7a12354d .menu-item-link-top{color:#353535;}.elementor-4604 .elementor-element.elementor-element-7a12354d .menu-item-link-top .jet-nav-link-text{font-family:"franklin-gothic-urw-cond", Sans-serif;font-size:1.25rem;}.elementor-4604 .elementor-element.elementor-element-7a12354d .menu-item:hover > .menu-item-link-top{color:#788BBB;}.elementor-4604 .elementor-element.elementor-element-7a12354d .menu-item:hover > .menu-item-link-top .jet-nav-link-text{text-decoration:none;}.elementor-4604 .elementor-element.elementor-element-7a12354d .menu-item.current-menu-item .menu-item-link-top{background-color:#FFFFFF;color:#E15630;}.elementor-4604 .elementor-element.elementor-element-7a12354d .jet-nav__mobile-trigger{color:#000000;}.elementor-4604 .elementor-element.elementor-element-7a12354d .jet-nav__mobile-close-btn{color:#002878;}.elementor-4604 .elementor-element.elementor-element-7a12354d > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-4604 .elementor-element.elementor-element-70fc5777:not(.elementor-motion-effects-element-type-background), .elementor-4604 .elementor-element.elementor-element-70fc5777 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#FFFFFF;}.elementor-4604 .elementor-element.elementor-element-70fc5777{border-style:solid;border-width:0px 0px 1px 0px;border-color:#7A7A7A;box-shadow:0px 0px 10px 0px rgba(0,0,0,0.5);transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-4604 .elementor-element.elementor-element-70fc5777 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-4604 .elementor-element.elementor-element-ce123f8 .elementor-repeater-item-0852721.jet-parallax-section__layout .jet-parallax-section__image{background-size:auto;}.elementor-4604 .elementor-element.elementor-element-d004145 .elementor-heading-title{font-size:1.75rem;}.elementor-4604 .elementor-element.elementor-element-ce123f8{margin-top:35px;margin-bottom:0px;padding:0px 0px 0px 0px;}.elementor-4604 .elementor-element.elementor-element-53c61ae .elementor-repeater-item-b9fe187.jet-parallax-section__layout .jet-parallax-section__image{background-size:auto;}.elementor-4604 .elementor-element.elementor-element-0b7e27a{color:#444444;}.elementor-4604 .elementor-element.elementor-element-4502920 .nav-links{justify-content:space-between;}.elementor-4604 .elementor-element.elementor-element-4502920 .nav-links .nav-previous a{background-color:#FFFFFF;color:#002878;min-width:0px;padding:5px 15px 5px 5px;margin-right:calc( 5px / 2 );}.elementor-4604 .elementor-element.elementor-element-4502920 .nav-links .nav-next a{background-color:#FFFFFF;color:#002878;min-width:0px;padding:5px 5px 5px 15px;margin-left:calc( 5px / 2 );}.elementor-4604 .elementor-element.elementor-element-4502920 .nav-links .nav-previous a, .elementor-4604 .elementor-element.elementor-element-4502920 .nav-links .nav-next a{border-style:solid;border-width:1px 1px 1px 1px;}.elementor-4604 .elementor-element.elementor-element-4502920 .nav-links a .jet-blog-arrow{width:32px;height:32px;}.elementor-4604 .elementor-element.elementor-element-53c61ae{margin-top:0px;margin-bottom:30px;}@media(max-width:1024px){.elementor-4604 .elementor-element.elementor-element-4502920 .nav-links .nav-previous a, .elementor-4604 .elementor-element.elementor-element-4502920 .nav-links .nav-next a{border-width:1px 1px 1px 1px;}}@media(min-width:768px){.elementor-4604 .elementor-element.elementor-element-5fb71bc{width:20.956%;}.elementor-4604 .elementor-element.elementor-element-35ab7def{width:78.71%;}}@media(max-width:767px){.elementor-4604 .elementor-element.elementor-element-5fb71bc{width:50%;}.elementor-4604 .elementor-element.elementor-element-35ab7def{width:50%;}.elementor-4604 .elementor-element.elementor-element-7a12354d .jet-mobile-menu .menu-item-link{justify-content:center;text-align:center;}.elementor-4604 .elementor-element.elementor-element-7a12354d .jet-nav--horizontal{justify-content:center;text-align:center;}.elementor-4604 .elementor-element.elementor-element-7a12354d .jet-nav--vertical .menu-item-link-top{justify-content:center;text-align:center;}.elementor-4604 .elementor-element.elementor-element-7a12354d .jet-nav--vertical-sub-bottom .menu-item-link-sub{justify-content:center;text-align:center;}.elementor-4604 .elementor-element.elementor-element-7a12354d .jet-nav{background-color:#FFFFFF;}.elementor-4604 .elementor-element.elementor-element-7a12354d .jet-mobile-menu-active .jet-nav{box-shadow:0px 0px 10px 0px rgba(0,0,0,0.5);}.elementor-4604 .elementor-element.elementor-element-4502920 .nav-links .nav-previous a, .elementor-4604 .elementor-element.elementor-element-4502920 .nav-links .nav-next a{font-size:1rem;border-width:1px 1px 1px 1px;}.elementor-4604 .elementor-element.elementor-element-4502920 .nav-links a .jet-blog-arrow.jet-arrow-prev{margin-right:10px;}.elementor-4604 .elementor-element.elementor-element-4502920 .nav-links a .jet-blog-arrow.jet-arrow-next{margin-left:10px;}}/* Start custom CSS for jet-nav-menu, class: .elementor-element-7a12354d */.jet-mobile-menu-active .menu-item-link {
    justify-content: flex-start !important;
    
    color: #002878 !important;
}



.elementor-4604 .elementor-element.elementor-element-7a12354d a:hover {
    text-decoration: none !important;
}



@media (max-width: 576px) {
    .elementor-4604 .elementor-element.elementor-element-7a12354d .elementor-widget-container,.jet-nav, .jet-nav-wrap, .menu-top-menu-container, .jet-nav a {
    height: auto;
}
}

@media (min-width: 576px) {
    .elementor-4604 .elementor-element.elementor-element-7a12354d {
    height: 100%;
}
    .elementor-4604 .elementor-element.elementor-element-7a12354d .elementor-widget-container,.jet-nav, .jet-nav-wrap, .menu-top-menu-container, .jet-nav a {
    height: 100%;
}
}

.elementor-4061 .elementor-element.elementor-element-52f99061 .jet-nav__mobile-trigger {
    color: #000;
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-35ab7def */.elementor-4604 .elementor-element.elementor-element-35ab7def {
    height: 100%
}

.elementor-4455 .elementor-element.elementor-element-7310d432 > .elementor-element-populated {
    margin: 14px 20px 10px 0;
}/* End custom CSS */
/* Start custom CSS for jet-nav-menu, class: .elementor-element-7a12354d */.jet-mobile-menu-active .menu-item-link {
    justify-content: flex-start !important;
    
    color: #002878 !important;
}



.elementor-4604 .elementor-element.elementor-element-7a12354d a:hover {
    text-decoration: none !important;
}



@media (max-width: 576px) {
    .elementor-4604 .elementor-element.elementor-element-7a12354d .elementor-widget-container,.jet-nav, .jet-nav-wrap, .menu-top-menu-container, .jet-nav a {
    height: auto;
}
}

@media (min-width: 576px) {
    .elementor-4604 .elementor-element.elementor-element-7a12354d {
    height: 100%;
}
    .elementor-4604 .elementor-element.elementor-element-7a12354d .elementor-widget-container,.jet-nav, .jet-nav-wrap, .menu-top-menu-container, .jet-nav a {
    height: 100%;
}
}

.elementor-4061 .elementor-element.elementor-element-52f99061 .jet-nav__mobile-trigger {
    color: #000;
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-35ab7def */.elementor-4604 .elementor-element.elementor-element-35ab7def {
    height: 100%
}

.elementor-4455 .elementor-element.elementor-element-7310d432 > .elementor-element-populated {
    margin: 14px 20px 10px 0;
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-70fc5777 */.elementor-4455 .elementor-element.elementor-element-52f99061 .jet-nav__mobile-trigger {
    color: #000;
}/* End custom CSS */
/* Start custom CSS for jet-blog-posts-navigation, class: .elementor-element-4502920 */.nav-links {
     display: flex;
}

.nav-previous, .nav-next {
    flex: 1;
}

.nav-previous a, .nav-next a {
    font-size: inherit !important;
}/* End custom CSS */
/* Start custom CSS for jet-blog-posts-navigation, class: .elementor-element-4502920 */.nav-links {
     display: flex;
}

.nav-previous, .nav-next {
    flex: 1;
}

.nav-previous a, .nav-next a {
    font-size: inherit !important;
}/* End custom CSS */